/* 
    Created on : Dec 10, 2021, 5:26:46 PM
    Author     : Administrator
*/

.book-item-img {
    display:block; 
    height: 100%; 
    width: auto;
}

.my-button {
    display: inline-block;
    cursor: pointer;
}

.my-button:hover {
    background-color: #0d69cb !important;
}
