/* 
    Created on : Dec 10, 2021, 4:15:09 PM
    Author     : Administrator
*/

.book-attribute {
    min-width: 350px;
}

.about-book {
    margin-bottom: 25px !important;
}

.my-button {
    display: inline-block;
    cursor: pointer;
}

.my-button:hover {
    background-color: #0d69cb !important;
}