<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>web.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookList</servlet-name>
        <servlet-class>web.book.BookList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookDetails</servlet-name>
        <servlet-class>web.book.BookDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>web.search.Search</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookCreate</servlet-name>
        <servlet-class>web.book.BookCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthorCreate</servlet-name>
        <servlet-class>web.book.AuthorCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookItemCreate</servlet-name>
        <servlet-class>web.book.BookItemCreate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookItemList</servlet-name>
        <servlet-class>web.book.BookItemList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookItemDetails</servlet-name>
        <servlet-class>web.book.BookItemDetails</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BookItemUpdate</servlet-name>
        <servlet-class>web.book.BookItemUpdate</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Register</servlet-name>
        <servlet-class>web.Register</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookList</servlet-name>
        <url-pattern>/BookList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookDetails</servlet-name>
        <url-pattern>/BookDetails/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookCreate</servlet-name>
        <url-pattern>/BookCreate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthorCreate</servlet-name>
        <url-pattern>/AuthorCreate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookItemCreate</servlet-name>
        <url-pattern>/BookItemCreate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookItemList</servlet-name>
        <url-pattern>/BookItemList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookItemDetails</servlet-name>
        <url-pattern>/BookItemDetails/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BookItemUpdate</servlet-name>
        <url-pattern>/BookItemUpdate/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Register</servlet-name>
        <url-pattern>/Register/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
